body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.png{
	padding-right:10px;

}
#tile{
	background-color: rgba(5,55,115,0.8);
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 1.6em;
	border: 3px solid grey;
	min-height: 101px;
	text-align: center;
  margin-bottom: 20px;
}
table th{
  background-color: rgba(5,55,115,0.5);
  font-size: 20px;
  text-align: center;
}
table{
  width: 100%;
  border-collapse: collapse;
  font-size: 3em;
}
table td{
  font-size: 15px;
  text-align: center;
}
tr:nth-child(even){
  background-color: #f2f2f2
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
